data/HumixDelta.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
{\fonttbl\f0\fnil\fcharset136 STHeitiTC-Light;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10380\viewh7200\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural

\f0\fs24 \cf0 [\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Yihong Humix"\},\{"id":"5af8c65d.a50738","type":"subflow","name":"Input Sense","in":[],"out":[\{"x":501.6666488647461,"y":346.6666488647461,"wires":[\{"id":"a3d32a6a.5c2cd8","port":0\},\{"id":"3bd27426.c42d8c","port":0\},\{"id":"4d4e1b83.b2b1e4","port":0\}]\}]\},\{"id":"a3d32a6a.5c2cd8","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827ebcb4f5a","applicationId":"","deviceType":"yihong-humix","eventType":"humix.sense.temp.event","commandType":"","format":"json","name":"Temp","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":275.00001335144043,"z":"5af8c65d.a50738","wires":[["9bf93a40.6406c8"]]\},\{"id":"3bd27426.c42d8c","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827ebcb4f5a","applicationId":"","deviceType":"yihong-humix","eventType":"humix.sense.humid.event","commandType":"","format":"json","name":"Humid","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":166.66665649414062,"y":350,"z":"5af8c65d.a50738","wires":[[]]\},\{"id":"4d4e1b83.b2b1e4","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827ebcb4f5a","applicationId":"","deviceType":"yihong-humix","eventType":"humix.sense.brightness.event","commandType":"","format":"json","name":"Brightness","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":431.6666564941406,"z":"5af8c65d.a50738","wires":[[]]\},\{"id":"9bf93a40.6406c8","type":"debug","name":"Temp","active":true,"console":"false","complete":"payload","x":431.66666666666663,"y":141.66666666666666,"z":"5af8c65d.a50738","wires":[]\},\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Yihong Humix"\},\{"id":"d6473cd6.29b8c","type":"subflow","name":"Output Sense","in":[\{"x":187.14286422729492,"y":348.5714445114136,"wires":[\{"id":"743f81ab.8bc08"\}]\}],"out":[]\},\{"id":"3042f3c5.cfbd0c","type":"switch","name":"CheckSenseString","property":"sense","rules":[\{"t":"cont","v":"cam"\},\{"t":"cont","v":"eyes"\},\{"t":"cont","v":"eyelid"\},\{"t":"cont","v":"speech"\},\{"t":"cont","v":"facebook"\}],"checkall":"true","outputs":5,"x":558.9643020629883,"y":337.3214464187622,"z":"d6473cd6.29b8c","wires":[["f345eca8.0cba1"],["72ec1a6a.8d13e4","5031e7f0.afce18"],["6a249f70.95db6"],["69ed09f3.9612f8"],["7faaf283.80550c"]]\},\{"id":"f345eca8.0cba1","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827ebcb4f5a","deviceType":"yihong-humix","eventCommandType":"humix-sense-cam-command","format":"json","data":"cam","name":"Cam","service":"registered","x":840.5000152587891,"y":266.2500047683716,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"72ec1a6a.8d13e4","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827ebcb4f5a","deviceType":"yihong-humix","eventCommandType":"humix-sense-eye-command","format":"json","data":"eyes","name":"Eyes","service":"registered","x":848.0000152587891,"y":321.25000286102295,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"2c55fafa.d3aa06","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827ebcb4f5a","deviceType":"yihong-humix","eventCommandType":"humix-sense-speech-command","format":"text","data":"text","name":"Speech","service":"registered","x":982.8214588165283,"y":438.3928623199463,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"6a249f70.95db6","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827ebcb4f5a","deviceType":"yihong-humix","eventCommandType":"humix-sense-eyelid-command","format":"json","data":"eyelid","name":"Eyelid","service":"registered","x":953.5357246398926,"y":381.07142639160156,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"7faaf283.80550c","type":"facebook message out","name":"","x":898.0000076293945,"y":493.7500066757202,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"743f81ab.8bc08","type":"function","name":"PrepareSenseString","func":"msg.sense = msg.sense.join(',');\\nconsole.log('sense: '+msg.sense);\\nreturn msg;","outputs":1,"valid":true,"x":347.50000762939453,"y":342.5000047683716,"z":"d6473cd6.29b8c","wires":[["3042f3c5.cfbd0c","fb096a95.04f698"]]\},\{"id":"5031e7f0.afce18","type":"debug","name":"beforeEyes","active":true,"console":"false","complete":"payload.eyes","x":698.5714285714286,"y":201.42857142857142,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"fb096a95.04f698","type":"debug","name":"Prepare","active":true,"console":"false","complete":"payload","x":506.25,"y":463.75,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"69ed09f3.9612f8","type":"function","name":"Preprocess","func":"if (typeof msg.payload.text === 'string') \{\\n    msg.payload.text = JSON.stringify(\{\\n        \\"text\\": msg.payload.text\\n    \});\\n\} else \{\\n    msg.payload.text = JSON.stringify(msg.payload.text);\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":792.8571395874023,"y":391.42855644226074,"z":"d6473cd6.29b8c","wires":[["2c55fafa.d3aa06","96e600cb.691a"]]\},\{"id":"96e600cb.691a","type":"debug","name":"Postprocess","active":true,"console":"false","complete":"payload","x":644.2857055664062,"y":544.2857055664062,"z":"d6473cd6.29b8c","wires":[]\},\{"id":"d7f888e0.280778","type":"facebook message in","name":"Facebook","pageId":"1584032021886495","accessToken":"CAAKrAWecE34BAF1l0l06eHhPnIf5lccJrMjKf9nAge2wFsiffu0m3YepcNhbv9IUGiFVCMWpc1btVTtrIZCkDlZAZAKihZCG28lkMN1QLQjKWz8F2xWt4EEEpkJBZCexww6cfU9KtnfogHNhDoECZAURmbYZCweHtLboZCHvnoJ3MfOzCWJG872iiVJRp7jHjGcXGzZCik992i4wD19nZBPAzv","x":92,"y":142.82142782211304,"z":"e7f3301e.180cd","wires":[["dea5a79d.215a58"]]\},\{"id":"c6132452.39ecd8","type":"http request","name":"[Trans]Chn2Eng (Baidu)","method":"POST","ret":"obj","url":"http://openapi.baidu.com/public/2.0/bmt/translate?client_id=47BHCwH52aQgglmZkZH2NxBk&q=\{\{\{payload\}\}\}&from=zh&to=en","x":309.64283752441406,"y":236.5000024523054,"z":"e7f3301e.180cd","wires":[["899452d8.766bb"]]\},\{"id":"899452d8.766bb","type":"function","name":"Get transed string","func":"msg.payload.text = msg.payload.trans_result[0].dst;\\n\\nreturn msg; ","outputs":1,"valid":true,"x":455.60711669921875,"y":140.6785774230957,"z":"e7f3301e.180cd","wires":[["cc168f15.33e97","ca6fd953.359028"]]\},\{"id":"cc168f15.33e97","type":"switch","name":"Keyword Filter","property":"payload.text","rules":[\{"t":"regex","v":"(Hi|Hello|Good (morning|afternoon|evening|night)), Humix"\},\{"t":"regex","v":"(Goodbye|Bye), Humix"\},\{"t":"regex","v":"(How old)"\},\{"t":"regex","v":"(Temperature|temperature)"\},\{"t":"regex","v":"(Humidity|humidity)"\},\{"t":"else"\}],"checkall":"false","outputs":6,"x":573.4643096923828,"y":235.50003051757812,"z":"e7f3301e.180cd","wires":[["db4dae58.24b25"],["813b52ce.7ec4b"],["5b4bd615.a4b428"],["926d9d1e.6d926"],["fddd9857.022268"],["aebf6ee5.51409"]]\},\{"id":"db4dae58.24b25","type":"function","name":"Wake Up","func":"context.global.state = 'start';\\ncontext.global.emotion = 0;\\ncontext.global.sensor = \{\\n    temp: 0,\\n    humid: 0,\\n    brightness: 0\\n\};\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a7\'41\'a6\'6e\'a1\'41\\" + msg.facebook.sender + \\"\'a1\'41\'a7\'da\'ac\'4f\'a5\'f0\'a6\'cc\'a7\'4a\'b4\'b5\\";\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"wakeup\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"open\\"\\n\}); \\nreturn msg;\\n","outputs":1,"valid":true,"x":748.9642562866211,"y":132.28570556640625,"z":"e7f3301e.180cd","wires":[["e5af38d7.1a50c8","5c72cfe2.a38d3"]]\},\{"id":"813b52ce.7ec4b","type":"function","name":"Sleep","func":"context.global.state = 'sleep';\\ncontext.global.emotion = 0;\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a6\'41\'a8\'a3\'a1\'41 \\" + msg.facebook.sender;\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"sleep\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"close\\"\\n\});\\nreturn msg;","outputs":1,"valid":true,"x":788.8214340209961,"y":191.75001525878906,"z":"e7f3301e.180cd","wires":[["e5af38d7.1a50c8"]]\},\{"id":"e5af38d7.1a50c8","type":"subflow:d6473cd6.29b8c","x":1119.8928413391113,"y":216.333345413208,"z":"e7f3301e.180cd","wires":[]\},\{"id":"aebf6ee5.51409","type":"watson-alchemy-sentiment","name":"","x":758.726245880127,"y":382.72618293762207,"z":"e7f3301e.180cd","wires":[["8f426bfd.70bd98"]]\},\{"id":"8f426bfd.70bd98","type":"function","name":"Parse Result","func":"function calEmotionValue(currentVal, score) \{\\n    var emotion = currentVal;\\n    emotion += (score * 40);\\n    if (emotion > 100) \{\\n        emotion = 100;\\n    \} \\n    else if (emotion < -100) \{\\n        emotion = -100;\\n    \}\\n    return emotion;\\n\}\\n\\nif (context.global.state !== 'sleep') \{\\n    var result = msg.payload.docSentiment,\\n        emotion = calEmotionValue(context.global.emotion, result.score || 0);\\n        \\n    context.global.emotion = emotion;\\n    \\n    msg.sense = ['eyes'];\\n    if (result.type === 'positive') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-)';\\n    \} else if (result.type === 'negative') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-(';\\n    \}\\n    msg.payload.eyes = JSON.stringify(\{\\n        \\"feel\\": emotion\\n    \});\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":917.7738418579102,"y":381.2380905151367,"z":"e7f3301e.180cd","wires":[["e5af38d7.1a50c8","7d1b0ff5.82e4f"]]\},\{"id":"ca6fd953.359028","type":"debug","name":"Transed","active":true,"console":"false","complete":"payload","x":488.9285594395228,"y":52,"z":"e7f3301e.180cd","wires":[]\},\{"id":"7d1b0ff5.82e4f","type":"debug","name":"parse result","active":false,"console":"false","complete":"payload","x":1044.4047470092773,"y":446.52377128601074,"z":"e7f3301e.180cd","wires":[]\},\{"id":"5b4bd615.a4b428","type":"function","name":"Take Picture","func":"if (context.global.state !== 'sleep') \{\\n    if (context.global.state === 'picture') \{\\n        msg.sense = ['speech', 'facebook'];\\n        msg.payload.text = '\'b5\'a5\'b5\'a5\'a7\'da\'c1\'d9\'a6\'62\'ab\'e4\'a6\'d2';\\n    \} else \{\\n        context.global.state = 'picture';\\n        msg.sense = ['cam'];\\n        msg.payload.cam = JSON.stringify(\{\\n            \\"action\\": \\"takePic\\"\\n        \});\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":813.7975769042969,"y":243.89286613464355,"z":"e7f3301e.180cd","wires":[["e5af38d7.1a50c8"]]\},\{"id":"dea5a79d.215a58","type":"function","name":"Init State","func":"msg.sense = [];\\nif (!context.global.state) \{\\n    context.global.state = 'sleep';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":113.73808288574219,"y":237.16667325156078,"z":"e7f3301e.180cd","wires":[["c6132452.39ecd8"]]\},\{"id":"e2038828.1dfc78","type":"http in","name":"Picture Upload","url":"/face","method":"post","swaggerDoc":"","x":86.00001907348633,"y":636.1071462631226,"z":"e7f3301e.180cd","wires":[["2c8ab6f5.d3754a"]]\},\{"id":"2c8ab6f5.d3754a","type":"watson-alchemy-face-detection","name":"","x":294.5714340209961,"y":636.1071863174438,"z":"e7f3301e.180cd","wires":[["1d7a274b.e285d9"]]\},\{"id":"1d7a274b.e285d9","type":"function","name":"Parse Result","func":"function parseAgeRange(ageRange) \{                                                         \\n    if (ageRange.indexOf('<') !== -1) \{                                                    \\n        return parseInt(ageRange.split('<')[1], 10);                                       \\n    \} else if (ageRange.indexOf('>') !== -1) \{                                             \\n        return parseInt(ageRange.split('>')[1], 10);                                       \\n    \} else \{                                                                               \\n        var min = parseInt(ageRange.split('-')[0], 10),                                    \\n            max = parseInt(ageRange.split('-')[1], 10);                                    \\n        return ((min + max) / 2).toFixed();                                                \\n    \}                                                                                      \\n\}\\n\\nmsg.sense = [];\\nif (context.global.state === 'picture') \{\\n    var age = 0, faces = msg.payload.imageFaces;\\n    if (faces.length !== 0) \{\\n        age = parseAgeRange(faces[0].age.ageRange);\\n    \}\\n\\n    if (age === 0) \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a4\'a3\'a6\'6e\'b7\'4e\'ab\'e4\'a1\'41\'a7\'da\'b2\'71\'a4\'a3\'a5\'58\'a8\'d3\'a1\'49';\\n    \} else \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a7\'da\'c4\'b1\'b1\'6f\'a7\'41\'ac\'dd\'b0\'5f\'a8\'d3\'b9\'b3'+age+'\'b7\'b3';\\n        /*\\n        msg.payload.text = \{\\n            \\"age\\": age\\n        \};\\n        */\\n    \}\\n    context.global.state = 'start';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":481.714298248291,"y":636.107159614563,"z":"e7f3301e.180cd","wires":[["12adb4f8.ed524b","ea1fc9c7.15e038"]]\},\{"id":"12adb4f8.ed524b","type":"subflow:d6473cd6.29b8c","x":693.1429061889648,"y":634.6786155700684,"z":"e7f3301e.180cd","wires":[]\},\{"id":"5c72cfe2.a38d3","type":"debug","name":"wake up","active":true,"console":"false","complete":"payload","x":804.035701751709,"y":53.35714530944824,"z":"e7f3301e.180cd","wires":[]\},\{"id":"ea1fc9c7.15e038","type":"debug","name":"Parse Pic Result","active":true,"console":"false","complete":"payload","x":595.2857437133789,"y":556.5713748931885,"z":"e7f3301e.180cd","wires":[]\},\{"id":"2cc027e3.d33fd8","type":"subflow:5af8c65d.a50738","name":"","x":82.66665649414062,"y":434.666654586792,"z":"e7f3301e.180cd","wires":[["fae97dee.05168","ab3ec450.54c138"]]\},\{"id":"fae97dee.05168","type":"function","name":"Save Sensor Input","func":"if (context.global.state !== 'sleep') \{\\n    if (msg.payload.temp) \{\\n        context.global.sensor.temp = parseInt(msg.payload.temp, 10);\\n        console.log('Temp: '+context.global.sensor.temp);\\n    \}\\n    if (msg.payload.humid) \{\\n        context.global.sensor.humid = parseInt(msg.payload.humid, 10);\\n        console.log('Humid: '+context.global.sensor.humid);\\n    \}\\n    if (msg.payload.brightness) \{\\n        context.global.sensor.brightness = parseInt(msg.payload.brightness, 10);\\n        console.log('Brightness: '+context.global.sensor.brightness);\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":277.66668701171875,"y":434.6666851043701,"z":"e7f3301e.180cd","wires":[[]]\},\{"id":"926d9d1e.6d926","type":"function","name":"Report Temp","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'b7\'c5\'ab\'d7\'ac\'4f\'c4\'e1\'a4\'f3'+context.global.sensor.temp+'\'ab\'d7';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":812.6666259765625,"y":294.6666564941406,"z":"e7f3301e.180cd","wires":[["e5af38d7.1a50c8"]]\},\{"id":"fddd9857.022268","type":"function","name":"Report Humid","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'c0\'e3\'ab\'d7\'ac\'4f\'a6\'ca\'a4\'c0\'a4\'a7'+context.global.sensor.humid;\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":812.6666259765625,"y":334.6666564941406,"z":"e7f3301e.180cd","wires":[["e5af38d7.1a50c8"]]\},\{"id":"ab3ec450.54c138","type":"debug","name":"Input Sense","active":true,"console":"false","complete":"payload","x":307.66666666666663,"y":324.66666666666663,"z":"e7f3301e.180cd","wires":[]\}]}