data/HumixAlpha.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
{\fonttbl\f0\fnil\fcharset136 STHeitiTC-Light;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10380\viewh7200\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural

\f0\fs24 \cf0 [\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Clement Humix"\},\{"id":"1f535c1c.e0aca4","type":"subflow","name":"Input Sense","in":[],"out":[\{"x":501.6666488647461,"y":346.6666488647461,"wires":[\{"id":"2a455fa5.d5baa","port":0\},\{"id":"1157243a.eea8dc","port":0\},\{"id":"4903b1be.b6fc5","port":0\}]\}]\},\{"id":"2a455fa5.d5baa","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb644a4c","applicationId":"","deviceType":"clement-humix","eventType":"humix.sense.temp.event","commandType":"","format":"json","name":"Temp","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":275.00001335144043,"z":"1f535c1c.e0aca4","wires":[["360fdb5d.c9f024"]]\},\{"id":"1157243a.eea8dc","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb644a4c","applicationId":"","deviceType":"clement-humix","eventType":"humix.sense.humid.event","commandType":"","format":"json","name":"Humid","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":166.66665649414062,"y":350,"z":"1f535c1c.e0aca4","wires":[[]]\},\{"id":"4903b1be.b6fc5","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb644a4c","applicationId":"","deviceType":"clement-humix","eventType":"humix.sense.brightness.event","commandType":"","format":"json","name":"Brightness","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":431.6666564941406,"z":"1f535c1c.e0aca4","wires":[[]]\},\{"id":"360fdb5d.c9f024","type":"debug","name":"Temp","active":true,"console":"false","complete":"payload","x":431.66666666666663,"y":141.66666666666666,"z":"1f535c1c.e0aca4","wires":[]\},\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Clement Humix"\},\{"id":"9d901456.626fe8","type":"subflow","name":"Output Sense","in":[\{"x":187.14286422729492,"y":348.5714445114136,"wires":[\{"id":"627f42b4.9d80bc"\}]\}],"out":[]\},\{"id":"6888ad68.977754","type":"switch","name":"CheckSenseString","property":"sense","rules":[\{"t":"cont","v":"cam"\},\{"t":"cont","v":"eyes"\},\{"t":"cont","v":"eyelid"\},\{"t":"cont","v":"speech"\},\{"t":"cont","v":"facebook"\}],"checkall":"true","outputs":5,"x":558.9643020629883,"y":337.3214464187622,"z":"9d901456.626fe8","wires":[["294f1b66.d6b0e4"],["76b4fea8.894b","454a2841.bab5d8"],["246e4763.db91b8"],["1b76cd0f.e48933"],["ce2bf8f0.31d408"]]\},\{"id":"294f1b66.d6b0e4","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb644a4c","deviceType":"clement-humix","eventCommandType":"humix-sense-cam-command","format":"json","data":"cam","name":"Cam","service":"registered","x":840.5000152587891,"y":266.2500047683716,"z":"9d901456.626fe8","wires":[]\},\{"id":"76b4fea8.894b","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb644a4c","deviceType":"clement-humix","eventCommandType":"humix-sense-eye-command","format":"json","data":"eyes","name":"Eyes","service":"registered","x":848.0000152587891,"y":321.25000286102295,"z":"9d901456.626fe8","wires":[]\},\{"id":"44b5025c.bb4afc","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb644a4c","deviceType":"clement-humix","eventCommandType":"humix-sense-speech-command","format":"text","data":"text","name":"Speech","service":"registered","x":982.8214588165283,"y":438.3928623199463,"z":"9d901456.626fe8","wires":[]\},\{"id":"246e4763.db91b8","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb644a4c","deviceType":"clement-humix","eventCommandType":"humix-sense-eyelid-command","format":"json","data":"eyelid","name":"Eyelid","service":"registered","x":953.5357246398926,"y":381.07142639160156,"z":"9d901456.626fe8","wires":[]\},\{"id":"ce2bf8f0.31d408","type":"facebook message out","name":"","x":898.0000076293945,"y":493.7500066757202,"z":"9d901456.626fe8","wires":[]\},\{"id":"627f42b4.9d80bc","type":"function","name":"PrepareSenseString","func":"msg.sense = msg.sense.join(',');\\nconsole.log('sense: '+msg.sense);\\nreturn msg;","outputs":1,"valid":true,"x":347.50000762939453,"y":342.5000047683716,"z":"9d901456.626fe8","wires":[["6888ad68.977754","1ce5384a.e31ac8"]]\},\{"id":"454a2841.bab5d8","type":"debug","name":"beforeEyes","active":true,"console":"false","complete":"payload.eyes","x":698.5714285714286,"y":201.42857142857142,"z":"9d901456.626fe8","wires":[]\},\{"id":"1ce5384a.e31ac8","type":"debug","name":"Prepare","active":true,"console":"false","complete":"payload","x":506.25,"y":463.75,"z":"9d901456.626fe8","wires":[]\},\{"id":"1b76cd0f.e48933","type":"function","name":"Preprocess","func":"if (typeof msg.payload.text === 'string') \{\\n    msg.payload.text = JSON.stringify(\{\\n        \\"text\\": msg.payload.text\\n    \});\\n\} else \{\\n    msg.payload.text = JSON.stringify(msg.payload.text);\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":792.8571395874023,"y":391.42855644226074,"z":"9d901456.626fe8","wires":[["44b5025c.bb4afc","18a7aae7.e75855"]]\},\{"id":"18a7aae7.e75855","type":"debug","name":"Postprocess","active":true,"console":"false","complete":"payload","x":644.2857055664062,"y":544.2857055664062,"z":"9d901456.626fe8","wires":[]\},\{"id":"49507c6b.b6af84","type":"facebook message in","name":"Facebook","pageId":"690102001135568","accessToken":"CAAKrAWecE34BAEQqlzrc97OchGbzSajJwMIyvSkEceDnPEIUU145qzwTii0ZBMT7Lbb8L8CNWd4KKrYwwSx6ZAazA3WE5q6VKomgwZAkLuVPBRUI9aTdOHKByM5p61P5Upu3jUHulUTFTXVcBZBeVKdOGaWt16EaiKfWMKzW0eT9Q530NiNwAPKP7NQGOe4If75rTztnZAlx4I4dFjQLr","x":109,"y":206.82142782211304,"z":"3aaf82b8.c5507e","wires":[["ea78b4f4.158748"]]\},\{"id":"6728984b.98d768","type":"http request","name":"[Trans]Chn2Eng (Baidu)","method":"POST","ret":"obj","url":"http://openapi.baidu.com/public/2.0/bmt/translate?client_id=47BHCwH52aQgglmZkZH2NxBk&q=\{\{\{payload\}\}\}&from=zh&to=en","x":326.64283752441406,"y":300.5000024523054,"z":"3aaf82b8.c5507e","wires":[["575becf2.a8a414"]]\},\{"id":"575becf2.a8a414","type":"function","name":"Get transed string","func":"msg.payload.text = msg.payload.trans_result[0].dst;\\n\\nreturn msg; ","outputs":1,"valid":true,"x":472.60711669921875,"y":204.6785774230957,"z":"3aaf82b8.c5507e","wires":[["877ba52a.788458","4ca97f0e.b3568"]]\},\{"id":"877ba52a.788458","type":"switch","name":"Keyword Filter","property":"payload.text","rules":[\{"t":"regex","v":"(Hi|Hello|Good (morning|afternoon|evening|night)), Humix"\},\{"t":"regex","v":"(Goodbye|Bye), Humix"\},\{"t":"regex","v":"(How old)"\},\{"t":"regex","v":"(Temperature|temperature)"\},\{"t":"regex","v":"(Humidity|humidity)"\},\{"t":"else"\}],"checkall":"false","outputs":6,"x":590.4643096923828,"y":299.5000305175781,"z":"3aaf82b8.c5507e","wires":[["f0e2e3e3.0f1d2"],["72618546.8d9e7c"],["5e096585.a1f69c"],["b47c41c8.4b83c"],["b82b9bf0.47d468"],["cfe1b0a9.301e5"]]\},\{"id":"f0e2e3e3.0f1d2","type":"function","name":"Wake Up","func":"context.global.state = 'start';\\ncontext.global.emotion = 0;\\ncontext.global.sensor = \{\\n    temp: 0,\\n    humid: 0,\\n    brightness: 0\\n\};\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a7\'41\'a6\'6e\'a1\'41\\" + msg.facebook.sender + \\"\'a1\'41\'a7\'da\'ac\'4f\'a5\'f0\'a6\'cc\'a7\'4a\'b4\'b5\\";\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"wakeup\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"open\\"\\n\}); \\nreturn msg;\\n","outputs":1,"valid":true,"x":765.9642562866211,"y":196.28570556640625,"z":"3aaf82b8.c5507e","wires":[["edf38a43.120c78","34017396.cbfe8c"]]\},\{"id":"72618546.8d9e7c","type":"function","name":"Sleep","func":"context.global.state = 'sleep';\\ncontext.global.emotion = 0;\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a6\'41\'a8\'a3\'a1\'41 \\" + msg.facebook.sender;\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"sleep\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"close\\"\\n\});\\nreturn msg;","outputs":1,"valid":true,"x":805.8214340209961,"y":255.75001525878906,"z":"3aaf82b8.c5507e","wires":[["edf38a43.120c78"]]\},\{"id":"edf38a43.120c78","type":"subflow:9d901456.626fe8","x":1136.8928413391113,"y":280.333345413208,"z":"3aaf82b8.c5507e","wires":[]\},\{"id":"cfe1b0a9.301e5","type":"watson-alchemy-sentiment","name":"","x":775.726245880127,"y":446.72618293762207,"z":"3aaf82b8.c5507e","wires":[["1a24d34f.e5db2d"]]\},\{"id":"1a24d34f.e5db2d","type":"function","name":"Parse Result","func":"function calEmotionValue(currentVal, score) \{\\n    var emotion = currentVal;\\n    emotion += (score * 40);\\n    if (emotion > 100) \{\\n        emotion = 100;\\n    \} \\n    else if (emotion < -100) \{\\n        emotion = -100;\\n    \}\\n    return emotion;\\n\}\\n\\nif (context.global.state !== 'sleep') \{\\n    var result = msg.payload.docSentiment,\\n        emotion = calEmotionValue(context.global.emotion, result.score || 0);\\n        \\n    context.global.emotion = emotion;\\n    \\n    msg.sense = ['eyes'];\\n    if (result.type === 'positive') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-)';\\n    \} else if (result.type === 'negative') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-(';\\n    \}\\n    msg.payload.eyes = JSON.stringify(\{\\n        \\"feel\\": emotion\\n    \});\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":934.7738418579102,"y":445.2380905151367,"z":"3aaf82b8.c5507e","wires":[["edf38a43.120c78","2dcf73f1.d2308c"]]\},\{"id":"4ca97f0e.b3568","type":"debug","name":"Transed","active":true,"console":"false","complete":"payload","x":505.9285594395228,"y":116,"z":"3aaf82b8.c5507e","wires":[]\},\{"id":"2dcf73f1.d2308c","type":"debug","name":"parse result","active":false,"console":"false","complete":"payload","x":1061.4047470092773,"y":510.52377128601074,"z":"3aaf82b8.c5507e","wires":[]\},\{"id":"5e096585.a1f69c","type":"function","name":"Take Picture","func":"if (context.global.state !== 'sleep') \{\\n    if (context.global.state === 'picture') \{\\n        msg.sense = ['speech', 'facebook'];\\n        msg.payload.text = '\'b5\'a5\'b5\'a5\'a7\'da\'c1\'d9\'a6\'62\'ab\'e4\'a6\'d2';\\n    \} else \{\\n        context.global.state = 'picture';\\n        msg.sense = ['cam'];\\n        msg.payload.cam = JSON.stringify(\{\\n            \\"action\\": \\"takePic\\"\\n        \});\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":830.7975769042969,"y":307.89286613464355,"z":"3aaf82b8.c5507e","wires":[["edf38a43.120c78"]]\},\{"id":"ea78b4f4.158748","type":"function","name":"Init State","func":"msg.sense = [];\\nif (!context.global.state) \{\\n    context.global.state = 'sleep';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":130.7380828857422,"y":301.1666732515608,"z":"3aaf82b8.c5507e","wires":[["6728984b.98d768"]]\},\{"id":"a96eb158.56915","type":"http in","name":"Picture Upload","url":"/face","method":"post","swaggerDoc":"","x":103.00001907348633,"y":700.1071462631226,"z":"3aaf82b8.c5507e","wires":[["21c5a32b.de3a5c"]]\},\{"id":"21c5a32b.de3a5c","type":"watson-alchemy-face-detection","name":"","x":311.5714340209961,"y":700.1071863174438,"z":"3aaf82b8.c5507e","wires":[["8f4380ad.70bc8"]]\},\{"id":"8f4380ad.70bc8","type":"function","name":"Parse Result","func":"function parseAgeRange(ageRange) \{                                                         \\n    if (ageRange.indexOf('<') !== -1) \{                                                    \\n        return parseInt(ageRange.split('<')[1], 10);                                       \\n    \} else if (ageRange.indexOf('>') !== -1) \{                                             \\n        return parseInt(ageRange.split('>')[1], 10);                                       \\n    \} else \{                                                                               \\n        var min = parseInt(ageRange.split('-')[0], 10),                                    \\n            max = parseInt(ageRange.split('-')[1], 10);                                    \\n        return ((min + max) / 2).toFixed();                                                \\n    \}                                                                                      \\n\}\\n\\nmsg.sense = [];\\nif (context.global.state === 'picture') \{\\n    var age = 0, faces = msg.payload.imageFaces;\\n    if (faces.length !== 0) \{\\n        age = parseAgeRange(faces[0].age.ageRange);\\n    \}\\n\\n    if (age === 0) \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a4\'a3\'a6\'6e\'b7\'4e\'ab\'e4\'a1\'41\'a7\'da\'b2\'71\'a4\'a3\'a5\'58\'a8\'d3\'a1\'49';\\n    \} else \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a7\'da\'c4\'b1\'b1\'6f\'a7\'41\'ac\'dd\'b0\'5f\'a8\'d3\'b9\'b3'+age+'\'b7\'b3';\\n        /*\\n        msg.payload.text = \{\\n            \\"age\\": age\\n        \};\\n        */\\n    \}\\n    context.global.state = 'start';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":498.714298248291,"y":700.107159614563,"z":"3aaf82b8.c5507e","wires":[["ea147300.15eb9","ded40965.212bf8"]]\},\{"id":"ea147300.15eb9","type":"subflow:9d901456.626fe8","x":710.1429061889648,"y":698.6786155700684,"z":"3aaf82b8.c5507e","wires":[]\},\{"id":"34017396.cbfe8c","type":"debug","name":"wake up","active":true,"console":"false","complete":"payload","x":821.035701751709,"y":117.35714530944824,"z":"3aaf82b8.c5507e","wires":[]\},\{"id":"ded40965.212bf8","type":"debug","name":"Parse Pic Result","active":true,"console":"false","complete":"payload","x":612.2857437133789,"y":620.5713748931885,"z":"3aaf82b8.c5507e","wires":[]\},\{"id":"c566eba1.3a9918","type":"subflow:1f535c1c.e0aca4","name":"","x":99.66665649414062,"y":498.666654586792,"z":"3aaf82b8.c5507e","wires":[["f3213a55.0cdec8","16211a8b.e9dee5"]]\},\{"id":"f3213a55.0cdec8","type":"function","name":"Save Sensor Input","func":"if (context.global.state !== 'sleep') \{\\n    if (msg.payload.temp) \{\\n        context.global.sensor.temp = parseInt(msg.payload.temp, 10);\\n        console.log('Temp: '+context.global.sensor.temp);\\n    \}\\n    if (msg.payload.humid) \{\\n        context.global.sensor.humid = parseInt(msg.payload.humid, 10);\\n        console.log('Humid: '+context.global.sensor.humid);\\n    \}\\n    if (msg.payload.brightness) \{\\n        context.global.sensor.brightness = parseInt(msg.payload.brightness, 10);\\n        console.log('Brightness: '+context.global.sensor.brightness);\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":294.66668701171875,"y":498.6666851043701,"z":"3aaf82b8.c5507e","wires":[[]]\},\{"id":"b47c41c8.4b83c","type":"function","name":"Report Temp","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'b7\'c5\'ab\'d7\'ac\'4f\'c4\'e1\'a4\'f3'+context.global.sensor.temp+'\'ab\'d7';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":829.6666259765625,"y":358.6666564941406,"z":"3aaf82b8.c5507e","wires":[["edf38a43.120c78"]]\},\{"id":"b82b9bf0.47d468","type":"function","name":"Report Humid","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'c0\'e3\'ab\'d7\'ac\'4f\'a6\'ca\'a4\'c0\'a4\'a7'+context.global.sensor.humid;\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":829.6666259765625,"y":398.6666564941406,"z":"3aaf82b8.c5507e","wires":[["edf38a43.120c78"]]\},\{"id":"16211a8b.e9dee5","type":"debug","name":"Input Sense","active":true,"console":"false","complete":"payload","x":324.66666666666663,"y":388.66666666666663,"z":"3aaf82b8.c5507e","wires":[]\}]}