data/HumixThink.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
{\fonttbl\f0\fnil\fcharset136 STHeitiTC-Light;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10380\viewh7200\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural

\f0\fs24 \cf0 [\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Jeffrey Humix"\},\{"id":"9eb34bd4.614cb8","type":"subflow","name":"Input Sense","in":[],"out":[\{"x":501.6666488647461,"y":346.6666488647461,"wires":[\{"id":"529f5fbd.ad60a","port":0\},\{"id":"a95dbc4.f56a24","port":0\},\{"id":"64e74224.9b18bc","port":0\}]\}]\},\{"id":"529f5fbd.ad60a","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb26fdcc","applicationId":"","deviceType":"jeffrey-humix","eventType":"humix.sense.temp.event","commandType":"","format":"json","name":"Temp","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":275.00001335144043,"z":"9eb34bd4.614cb8","wires":[["eb0bf0de.14f41"]]\},\{"id":"a95dbc4.f56a24","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb26fdcc","applicationId":"","deviceType":"jeffrey-humix","eventType":"humix.sense.humid.event","commandType":"","format":"json","name":"Humid","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":166.66665649414062,"y":350,"z":"9eb34bd4.614cb8","wires":[[]]\},\{"id":"64e74224.9b18bc","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb26fdcc","applicationId":"","deviceType":"jeffrey-humix","eventType":"humix.sense.brightness.event","commandType":"","format":"json","name":"Brightness","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":431.6666564941406,"z":"9eb34bd4.614cb8","wires":[[]]\},\{"id":"eb0bf0de.14f41","type":"debug","name":"Temp","active":true,"console":"false","complete":"payload","x":431.66666666666663,"y":141.66666666666666,"z":"9eb34bd4.614cb8","wires":[]\},\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Jeffrey Humix"\},\{"id":"9d73a21e.628c6","type":"subflow","name":"Output Sense","in":[\{"x":187.14286422729492,"y":348.5714445114136,"wires":[\{"id":"74540cbc.8babf4"\}]\}],"out":[]\},\{"id":"26c1fa91.d93e06","type":"switch","name":"CheckSenseString","property":"sense","rules":[\{"t":"cont","v":"cam"\},\{"t":"cont","v":"eyes"\},\{"t":"cont","v":"eyelid"\},\{"t":"cont","v":"speech"\},\{"t":"cont","v":"facebook"\}],"checkall":"true","outputs":5,"x":558.9643020629883,"y":337.3214464187622,"z":"9d73a21e.628c6","wires":[["7d72c326.828d3c"],["1da5f7ee.e25a08","12bb3c75.ed44c4"],["a145b346.5eba5"],["58c9dfeb.a7362"],["6f5d7763.90a288"]]\},\{"id":"7d72c326.828d3c","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-cam-command","format":"json","data":"cam","name":"Cam","service":"registered","x":840.5000152587891,"y":266.2500047683716,"z":"9d73a21e.628c6","wires":[]\},\{"id":"1da5f7ee.e25a08","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-eye-command","format":"json","data":"eyes","name":"Eyes","service":"registered","x":848.0000152587891,"y":321.25000286102295,"z":"9d73a21e.628c6","wires":[]\},\{"id":"fd69feb3.0296","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-speech-command","format":"text","data":"text","name":"Speech","service":"registered","x":982.8214588165283,"y":438.3928623199463,"z":"9d73a21e.628c6","wires":[]\},\{"id":"a145b346.5eba5","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-eyelid-command","format":"json","data":"eyelid","name":"Eyelid","service":"registered","x":953.5357246398926,"y":381.07142639160156,"z":"9d73a21e.628c6","wires":[]\},\{"id":"6f5d7763.90a288","type":"facebook message out","name":"","x":898.0000076293945,"y":493.7500066757202,"z":"9d73a21e.628c6","wires":[]\},\{"id":"74540cbc.8babf4","type":"function","name":"PrepareSenseString","func":"msg.sense = msg.sense.join(',');\\nconsole.log('sense: '+msg.sense);\\nreturn msg;","outputs":1,"valid":true,"x":347.50000762939453,"y":342.5000047683716,"z":"9d73a21e.628c6","wires":[["26c1fa91.d93e06","4bd38f9c.b42c7"]]\},\{"id":"12bb3c75.ed44c4","type":"debug","name":"beforeEyes","active":true,"console":"false","complete":"payload.eyes","x":698.5714285714286,"y":201.42857142857142,"z":"9d73a21e.628c6","wires":[]\},\{"id":"4bd38f9c.b42c7","type":"debug","name":"Prepare","active":true,"console":"false","complete":"payload","x":506.25,"y":463.75,"z":"9d73a21e.628c6","wires":[]\},\{"id":"58c9dfeb.a7362","type":"function","name":"Preprocess","func":"if (typeof msg.payload.text === 'string') \{\\n    msg.payload.text = JSON.stringify(\{\\n        \\"text\\": msg.payload.text\\n    \});\\n\} else \{\\n    msg.payload.text = JSON.stringify(msg.payload.text);\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":792.8571395874023,"y":391.42855644226074,"z":"9d73a21e.628c6","wires":[["fd69feb3.0296","201567fa.dfea98"]]\},\{"id":"201567fa.dfea98","type":"debug","name":"Postprocess","active":true,"console":"false","complete":"payload","x":644.2857055664062,"y":544.2857055664062,"z":"9d73a21e.628c6","wires":[]\},\{"id":"4e5ba32c.b1a45c","type":"facebook message in","name":"Facebook","pageId":"1583031298636415","accessToken":"CAAKrAWecE34BAJUZBWx8EMxnhhB3uPMDbLydnuA7MfHZCvYOIQZCZC4wkvGnzZCB9ZCj97pnPZCZCmHlvVAiEn7hHJZBPIFow7W7zYUshHuxHkJDfECPhE7lKsF0lyro16pM0W51rzTsT9Wwf68uOsYkRTbu8YugDWdmKbtM6VOLtCvUH7Pa2xFseJz0CakafKZCyelrW0VaZA1GCmb1WrR6go1","x":91,"y":184.82142782211304,"z":"7dd6b17f.82295","wires":[["b04889e.f4fb778"]]\},\{"id":"9241cf26.6dbe3","type":"http request","name":"[Trans]Chn2Eng (Baidu)","method":"POST","ret":"obj","url":"http://openapi.baidu.com/public/2.0/bmt/translate?client_id=47BHCwH52aQgglmZkZH2NxBk&q=\{\{\{payload\}\}\}&from=zh&to=en","x":308.64283752441406,"y":278.5000024523054,"z":"7dd6b17f.82295","wires":[["b37cb2a1.4c835"]]\},\{"id":"b37cb2a1.4c835","type":"function","name":"Get transed string","func":"msg.payload.text = msg.payload.trans_result[0].dst;\\n\\nreturn msg; ","outputs":1,"valid":true,"x":454.60711669921875,"y":182.6785774230957,"z":"7dd6b17f.82295","wires":[["2f8448e3.d07bb8","6a6cda98.959324"]]\},\{"id":"2f8448e3.d07bb8","type":"switch","name":"Keyword Filter","property":"payload.text","rules":[\{"t":"regex","v":"(Hi|Hello|Good (morning|afternoon|evening|night)), Humix"\},\{"t":"regex","v":"(Goodbye|Bye), Humix"\},\{"t":"regex","v":"(How old)"\},\{"t":"regex","v":"(Temperature|temperature)"\},\{"t":"regex","v":"(Humidity|humidity)"\},\{"t":"else"\}],"checkall":"false","outputs":6,"x":572.4643096923828,"y":277.5000305175781,"z":"7dd6b17f.82295","wires":[["b419f9df.4be608"],["45d01594.ba2fec"],["bd899310.42767"],["1e5e3c19.e1a1c4"],["d547301a.2ab8d"],["e09de714.1f6218"]]\},\{"id":"b419f9df.4be608","type":"function","name":"Wake Up","func":"context.global.state = 'start';\\ncontext.global.emotion = 0;\\ncontext.global.sensor = \{\\n    temp: 0,\\n    humid: 0,\\n    brightness: 0\\n\};\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a7\'41\'a6\'6e\'a1\'41\\" + msg.facebook.sender + \\"\'a1\'41\'a7\'da\'ac\'4f\'a5\'f0\'a6\'cc\'a7\'4a\'b4\'b5\\";\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"wakeup\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"open\\"\\n\}); \\nreturn msg;\\n","outputs":1,"valid":true,"x":747.9642562866211,"y":174.28570556640625,"z":"7dd6b17f.82295","wires":[["10eca6a8.ef1359","7f611200.809ef"]]\},\{"id":"45d01594.ba2fec","type":"function","name":"Sleep","func":"context.global.state = 'sleep';\\ncontext.global.emotion = 0;\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a6\'41\'a8\'a3\'a1\'41 \\" + msg.facebook.sender;\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"sleep\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"close\\"\\n\});\\nreturn msg;","outputs":1,"valid":true,"x":787.8214340209961,"y":233.75001525878906,"z":"7dd6b17f.82295","wires":[["10eca6a8.ef1359"]]\},\{"id":"10eca6a8.ef1359","type":"subflow:9d73a21e.628c6","x":1118.8928413391113,"y":258.333345413208,"z":"7dd6b17f.82295","wires":[]\},\{"id":"e09de714.1f6218","type":"watson-alchemy-sentiment","name":"","x":757.726245880127,"y":424.72618293762207,"z":"7dd6b17f.82295","wires":[["761d6536.89e29c"]]\},\{"id":"761d6536.89e29c","type":"function","name":"Parse Result","func":"function calEmotionValue(currentVal, score) \{\\n    var emotion = currentVal;\\n    emotion += (score * 40);\\n    if (emotion > 100) \{\\n        emotion = 100;\\n    \} \\n    else if (emotion < -100) \{\\n        emotion = -100;\\n    \}\\n    return emotion;\\n\}\\n\\nif (context.global.state !== 'sleep') \{\\n    var result = msg.payload.docSentiment,\\n        emotion = calEmotionValue(context.global.emotion, result.score || 0);\\n        \\n    context.global.emotion = emotion;\\n    \\n    msg.sense = ['eyes'];\\n    if (result.type === 'positive') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-)';\\n    \} else if (result.type === 'negative') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-(';\\n    \}\\n    msg.payload.eyes = JSON.stringify(\{\\n        \\"feel\\": emotion\\n    \});\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":916.7738418579102,"y":423.2380905151367,"z":"7dd6b17f.82295","wires":[["10eca6a8.ef1359","83676199.7c98a"]]\},\{"id":"6a6cda98.959324","type":"debug","name":"Transed","active":true,"console":"false","complete":"payload","x":487.9285594395228,"y":94,"z":"7dd6b17f.82295","wires":[]\},\{"id":"83676199.7c98a","type":"debug","name":"parse result","active":false,"console":"false","complete":"payload","x":1043.4047470092773,"y":488.52377128601074,"z":"7dd6b17f.82295","wires":[]\},\{"id":"bd899310.42767","type":"function","name":"Take Picture","func":"if (context.global.state !== 'sleep') \{\\n    if (context.global.state === 'picture') \{\\n        msg.sense = ['speech', 'facebook'];\\n        msg.payload.text = '\'b5\'a5\'b5\'a5\'a7\'da\'c1\'d9\'a6\'62\'ab\'e4\'a6\'d2';\\n    \} else \{\\n        context.global.state = 'picture';\\n        msg.sense = ['cam'];\\n        msg.payload.cam = JSON.stringify(\{\\n            \\"action\\": \\"takePic\\"\\n        \});\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":812.7975769042969,"y":285.89286613464355,"z":"7dd6b17f.82295","wires":[["10eca6a8.ef1359"]]\},\{"id":"b04889e.f4fb778","type":"function","name":"Init State","func":"msg.sense = [];\\nif (!context.global.state) \{\\n    context.global.state = 'sleep';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":112.73808288574219,"y":279.1666732515608,"z":"7dd6b17f.82295","wires":[["9241cf26.6dbe3"]]\},\{"id":"7dd3bc3.f822c44","type":"http in","name":"Picture Upload","url":"/face","method":"post","swaggerDoc":"","x":85.00001907348633,"y":678.1071462631226,"z":"7dd6b17f.82295","wires":[["d1fe800c.2e018"]]\},\{"id":"d1fe800c.2e018","type":"watson-alchemy-face-detection","name":"","x":293.5714340209961,"y":678.1071863174438,"z":"7dd6b17f.82295","wires":[["b14d66a2.4eb298"]]\},\{"id":"b14d66a2.4eb298","type":"function","name":"Parse Result","func":"function parseAgeRange(ageRange) \{                                                         \\n    if (ageRange.indexOf('<') !== -1) \{                                                    \\n        return parseInt(ageRange.split('<')[1], 10);                                       \\n    \} else if (ageRange.indexOf('>') !== -1) \{                                             \\n        return parseInt(ageRange.split('>')[1], 10);                                       \\n    \} else \{                                                                               \\n        var min = parseInt(ageRange.split('-')[0], 10),                                    \\n            max = parseInt(ageRange.split('-')[1], 10);                                    \\n        return ((min + max) / 2).toFixed();                                                \\n    \}                                                                                      \\n\}\\n\\nmsg.sense = [];\\nif (context.global.state === 'picture') \{\\n    var age = 0, faces = msg.payload.imageFaces;\\n    if (faces.length !== 0) \{\\n        age = parseAgeRange(faces[0].age.ageRange);\\n    \}\\n\\n    if (age === 0) \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a4\'a3\'a6\'6e\'b7\'4e\'ab\'e4\'a1\'41\'a7\'da\'b2\'71\'a4\'a3\'a5\'58\'a8\'d3\'a1\'49';\\n    \} else \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a7\'da\'c4\'b1\'b1\'6f\'a7\'41\'ac\'dd\'b0\'5f\'a8\'d3\'b9\'b3'+age+'\'b7\'b3';\\n        /*\\n        msg.payload.text = \{\\n            \\"age\\": age\\n        \};\\n        */\\n    \}\\n    context.global.state = 'start';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":480.714298248291,"y":678.107159614563,"z":"7dd6b17f.82295","wires":[["76db80ad.89248","fea2a85d.015d58"]]\},\{"id":"76db80ad.89248","type":"subflow:9d73a21e.628c6","x":692.1429061889648,"y":676.6786155700684,"z":"7dd6b17f.82295","wires":[]\},\{"id":"7f611200.809ef","type":"debug","name":"wake up","active":true,"console":"false","complete":"payload","x":803.035701751709,"y":95.35714530944824,"z":"7dd6b17f.82295","wires":[]\},\{"id":"fea2a85d.015d58","type":"debug","name":"Parse Pic Result","active":true,"console":"false","complete":"payload","x":594.2857437133789,"y":598.5713748931885,"z":"7dd6b17f.82295","wires":[]\},\{"id":"df2622e8.20d9e","type":"subflow:9eb34bd4.614cb8","name":"","x":81.66665649414062,"y":476.666654586792,"z":"7dd6b17f.82295","wires":[["4bebd801.b41428","aee9ad6d.51165"]]\},\{"id":"4bebd801.b41428","type":"function","name":"Save Sensor Input","func":"if (context.global.state !== 'sleep') \{\\n    if (msg.payload.temp) \{\\n        context.global.sensor.temp = parseInt(msg.payload.temp, 10);\\n        console.log('Temp: '+context.global.sensor.temp);\\n    \}\\n    if (msg.payload.humid) \{\\n        context.global.sensor.humid = parseInt(msg.payload.humid, 10);\\n        console.log('Humid: '+context.global.sensor.humid);\\n    \}\\n    if (msg.payload.brightness) \{\\n        context.global.sensor.brightness = parseInt(msg.payload.brightness, 10);\\n        console.log('Brightness: '+context.global.sensor.brightness);\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":276.66668701171875,"y":476.6666851043701,"z":"7dd6b17f.82295","wires":[[]]\},\{"id":"1e5e3c19.e1a1c4","type":"function","name":"Report Temp","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'b7\'c5\'ab\'d7\'ac\'4f\'c4\'e1\'a4\'f3'+context.global.sensor.temp+'\'ab\'d7';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":811.6666259765625,"y":336.6666564941406,"z":"7dd6b17f.82295","wires":[["10eca6a8.ef1359"]]\},\{"id":"d547301a.2ab8d","type":"function","name":"Report Humid","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'c0\'e3\'ab\'d7\'ac\'4f\'a6\'ca\'a4\'c0\'a4\'a7'+context.global.sensor.humid;\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":811.6666259765625,"y":376.6666564941406,"z":"7dd6b17f.82295","wires":[["10eca6a8.ef1359"]]\},\{"id":"aee9ad6d.51165","type":"debug","name":"Input Sense","active":true,"console":"false","complete":"payload","x":306.66666666666663,"y":366.66666666666663,"z":"7dd6b17f.82295","wires":[]\}]}