data/HumixOmega.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
{\fonttbl\f0\fnil\fcharset136 STHeitiTC-Light;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10380\viewh7200\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural

\f0\fs24 \cf0 [\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Jeffrey Humix"\},\{"id":"afe8d1d6.50173","type":"subflow","name":"Input Sense","in":[],"out":[\{"x":501.6666488647461,"y":346.6666488647461,"wires":[\{"id":"e2af9b3a.1d5068","port":0\},\{"id":"76b2d273.894d2c","port":0\},\{"id":"ead958bb.1526a8","port":0\}]\}]\},\{"id":"e2af9b3a.1d5068","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb26fdcc","applicationId":"","deviceType":"jeffrey-humix","eventType":"humix.sense.temp.event","commandType":"","format":"json","name":"Temp","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":275.00001335144043,"z":"afe8d1d6.50173","wires":[["5fe50b6a.a01af4"]]\},\{"id":"76b2d273.894d2c","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb26fdcc","applicationId":"","deviceType":"jeffrey-humix","eventType":"humix.sense.humid.event","commandType":"","format":"json","name":"Humid","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":166.66665649414062,"y":350,"z":"afe8d1d6.50173","wires":[[]]\},\{"id":"ead958bb.1526a8","type":"ibmiot in","authentication":"apiKey","apiKey":"7fa3416a.805cc","inputType":"evt","deviceId":"b827eb26fdcc","applicationId":"","deviceType":"jeffrey-humix","eventType":"humix.sense.brightness.event","commandType":"","format":"json","name":"Brightness","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":165,"y":431.6666564941406,"z":"afe8d1d6.50173","wires":[[]]\},\{"id":"5fe50b6a.a01af4","type":"debug","name":"Temp","active":true,"console":"false","complete":"payload","x":431.66666666666663,"y":141.66666666666666,"z":"afe8d1d6.50173","wires":[]\},\{"id":"7fa3416a.805cc","type":"ibmiot","name":"Jeffrey Humix"\},\{"id":"dc9d29bf.2362d8","type":"subflow","name":"Output Sense","in":[\{"x":187.14286422729492,"y":348.5714445114136,"wires":[\{"id":"d5d03f6a.2a2fc"\}]\}],"out":[]\},\{"id":"13028088.ecfd7f","type":"switch","name":"CheckSenseString","property":"sense","rules":[\{"t":"cont","v":"cam"\},\{"t":"cont","v":"eyes"\},\{"t":"cont","v":"eyelid"\},\{"t":"cont","v":"speech"\},\{"t":"cont","v":"facebook"\}],"checkall":"true","outputs":5,"x":558.9643020629883,"y":337.3214464187622,"z":"dc9d29bf.2362d8","wires":[["d13e3e38.2ec1c"],["e1de4d79.1e21b","c7dfc4af.382038"],["cafb38fd.3504c8"],["c9753f5f.368ac"],["1ee43ca4.e11bc3"]]\},\{"id":"d13e3e38.2ec1c","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-cam-command","format":"json","data":"cam","name":"Cam","service":"registered","x":840.5000152587891,"y":266.2500047683716,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"e1de4d79.1e21b","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-eye-command","format":"json","data":"eyes","name":"Eyes","service":"registered","x":848.0000152587891,"y":321.25000286102295,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"faf4f9ba.050b08","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-speech-command","format":"text","data":"text","name":"Speech","service":"registered","x":982.8214588165283,"y":438.3928623199463,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"cafb38fd.3504c8","type":"ibmiot out","authentication":"apiKey","apiKey":"7fa3416a.805cc","outputType":"cmd","deviceId":"b827eb26fdcc","deviceType":"jeffrey-humix","eventCommandType":"humix-sense-eyelid-command","format":"json","data":"eyelid","name":"Eyelid","service":"registered","x":953.5357246398926,"y":381.07142639160156,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"1ee43ca4.e11bc3","type":"facebook message out","name":"","x":898.0000076293945,"y":493.7500066757202,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"d5d03f6a.2a2fc","type":"function","name":"PrepareSenseString","func":"msg.sense = msg.sense.join(',');\\nconsole.log('sense: '+msg.sense);\\nreturn msg;","outputs":1,"valid":true,"x":347.50000762939453,"y":342.5000047683716,"z":"dc9d29bf.2362d8","wires":[["13028088.ecfd7f","16a43f8c.e95bc"]]\},\{"id":"c7dfc4af.382038","type":"debug","name":"beforeEyes","active":true,"console":"false","complete":"payload.eyes","x":698.5714285714286,"y":201.42857142857142,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"16a43f8c.e95bc","type":"debug","name":"Prepare","active":true,"console":"false","complete":"payload","x":506.25,"y":463.75,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"c9753f5f.368ac","type":"function","name":"Preprocess","func":"if (typeof msg.payload.text === 'string') \{\\n    msg.payload.text = JSON.stringify(\{\\n        \\"text\\": msg.payload.text\\n    \});\\n\} else \{\\n    msg.payload.text = JSON.stringify(msg.payload.text);\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":792.8571395874023,"y":391.42855644226074,"z":"dc9d29bf.2362d8","wires":[["faf4f9ba.050b08","948091d0.6b7f7"]]\},\{"id":"948091d0.6b7f7","type":"debug","name":"Postprocess","active":true,"console":"false","complete":"payload","x":644.2857055664062,"y":544.2857055664062,"z":"dc9d29bf.2362d8","wires":[]\},\{"id":"66cf20f.f9930e","type":"facebook message in","name":"Facebook","pageId":"816647205082726","accessToken":"CAAKrAWecE34BAKRrBP1SeQHzC00KHqn3rKoZCQXQS9D0gocyFwbcHWs6kB25UnrGMGdRjXBiblfcqpkUGJMBTq6qMzZCiGZB057iUdsF2xMQZAZCkC9k426wirNT5ZAeRvQeeoNz619MHfm1FOywTK7EJKMzYxNdmLf4oybZAnxBxkFfwOeQqKBvrdzlp8ng59hZBhDLZBE4LqIWsxUdvmoEj","x":84,"y":155.82142782211304,"z":"626f6964.9d9098","wires":[["72660e1e.8d99f"]]\},\{"id":"73430a67.8cbcf4","type":"http request","name":"[Trans]Chn2Eng (Baidu)","method":"POST","ret":"obj","url":"http://openapi.baidu.com/public/2.0/bmt/translate?client_id=47BHCwH52aQgglmZkZH2NxBk&q=\{\{\{payload\}\}\}&from=zh&to=en","x":301.64283752441406,"y":249.5000024523054,"z":"626f6964.9d9098","wires":[["da8ebccb.25714"]]\},\{"id":"da8ebccb.25714","type":"function","name":"Get transed string","func":"msg.payload.text = msg.payload.trans_result[0].dst;\\n\\nreturn msg; ","outputs":1,"valid":true,"x":447.60711669921875,"y":153.6785774230957,"z":"626f6964.9d9098","wires":[["dcb9a521.234658","6de15cea.921ea4"]]\},\{"id":"dcb9a521.234658","type":"switch","name":"Keyword Filter","property":"payload.text","rules":[\{"t":"regex","v":"(Hi|Hello|Good (morning|afternoon|evening|night)), Humix"\},\{"t":"regex","v":"(Goodbye|Bye), Humix"\},\{"t":"regex","v":"(How old)"\},\{"t":"regex","v":"(Temperature|temperature)"\},\{"t":"regex","v":"(Humidity|humidity)"\},\{"t":"else"\}],"checkall":"false","outputs":6,"x":565.4643096923828,"y":248.50003051757812,"z":"626f6964.9d9098","wires":[["a99eb508.566148"],["529d1d6e.ad62e4"],["15587677.eaa78a"],["db239a17.24dc68"],["13f48f1.fec0b71"],["ec7a919f.13857"]]\},\{"id":"a99eb508.566148","type":"function","name":"Wake Up","func":"context.global.state = 'start';\\ncontext.global.emotion = 0;\\ncontext.global.sensor = \{\\n    temp: 0,\\n    humid: 0,\\n    brightness: 0\\n\};\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a7\'41\'a6\'6e\'a1\'41\\" + msg.facebook.sender + \\"\'a1\'41\'a7\'da\'ac\'4f\'a5\'f0\'a6\'cc\'a7\'4a\'b4\'b5\\";\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"wakeup\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"open\\"\\n\}); \\nreturn msg;\\n","outputs":1,"valid":true,"x":740.9642562866211,"y":145.28570556640625,"z":"626f6964.9d9098","wires":[["9c20583d.63dfa8","91da0b6a.6e25f8"]]\},\{"id":"529d1d6e.ad62e4","type":"function","name":"Sleep","func":"context.global.state = 'sleep';\\ncontext.global.emotion = 0;\\n\\nmsg.sense = ['speech', 'facebook', 'eyes', 'eyelid'];\\nmsg.payload.text = \\"\'a6\'41\'a8\'a3\'a1\'41 \\" + msg.facebook.sender;\\nmsg.payload.eyes = JSON.stringify(\{\\n    \\"action\\": \\"sleep\\"\\n\});\\nmsg.payload.eyelid = JSON.stringify(\{\\n    \\"action\\": \\"close\\"\\n\});\\nreturn msg;","outputs":1,"valid":true,"x":780.8214340209961,"y":204.75001525878906,"z":"626f6964.9d9098","wires":[["9c20583d.63dfa8"]]\},\{"id":"9c20583d.63dfa8","type":"subflow:dc9d29bf.2362d8","x":1111.8928413391113,"y":229.333345413208,"z":"626f6964.9d9098","wires":[]\},\{"id":"ec7a919f.13857","type":"watson-alchemy-sentiment","name":"","x":750.726245880127,"y":395.72618293762207,"z":"626f6964.9d9098","wires":[["235f5bfd.dca0a4"]]\},\{"id":"235f5bfd.dca0a4","type":"function","name":"Parse Result","func":"function calEmotionValue(currentVal, score) \{\\n    var emotion = currentVal;\\n    emotion += (score * 40);\\n    if (emotion > 100) \{\\n        emotion = 100;\\n    \} \\n    else if (emotion < -100) \{\\n        emotion = -100;\\n    \}\\n    return emotion;\\n\}\\n\\nif (context.global.state !== 'sleep') \{\\n    var result = msg.payload.docSentiment,\\n        emotion = calEmotionValue(context.global.emotion, result.score || 0);\\n        \\n    context.global.emotion = emotion;\\n    \\n    msg.sense = ['eyes'];\\n    if (result.type === 'positive') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-)';\\n    \} else if (result.type === 'negative') \{\\n        msg.sense.push('facebook');\\n        msg.payload.text = ':-(';\\n    \}\\n    msg.payload.eyes = JSON.stringify(\{\\n        \\"feel\\": emotion\\n    \});\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":909.7738418579102,"y":394.2380905151367,"z":"626f6964.9d9098","wires":[["9c20583d.63dfa8","c669efde.39961"]]\},\{"id":"6de15cea.921ea4","type":"debug","name":"Transed","active":true,"console":"false","complete":"payload","x":480.9285594395228,"y":65,"z":"626f6964.9d9098","wires":[]\},\{"id":"c669efde.39961","type":"debug","name":"parse result","active":false,"console":"false","complete":"payload","x":1036.4047470092773,"y":459.52377128601074,"z":"626f6964.9d9098","wires":[]\},\{"id":"15587677.eaa78a","type":"function","name":"Take Picture","func":"if (context.global.state !== 'sleep') \{\\n    if (context.global.state === 'picture') \{\\n        msg.sense = ['speech', 'facebook'];\\n        msg.payload.text = '\'b5\'a5\'b5\'a5\'a7\'da\'c1\'d9\'a6\'62\'ab\'e4\'a6\'d2';\\n    \} else \{\\n        context.global.state = 'picture';\\n        msg.sense = ['cam'];\\n        msg.payload.cam = JSON.stringify(\{\\n            \\"action\\": \\"takePic\\"\\n        \});\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":805.7975769042969,"y":256.89286613464355,"z":"626f6964.9d9098","wires":[["9c20583d.63dfa8"]]\},\{"id":"72660e1e.8d99f","type":"function","name":"Init State","func":"msg.sense = [];\\nif (!context.global.state) \{\\n    context.global.state = 'sleep';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":105.73808288574219,"y":250.16667325156078,"z":"626f6964.9d9098","wires":[["73430a67.8cbcf4"]]\},\{"id":"11b3ed22.ee4c13","type":"http in","name":"Picture Upload","url":"/face","method":"post","swaggerDoc":"","x":78.00001907348633,"y":649.1071462631226,"z":"626f6964.9d9098","wires":[["ac636ae8.539c98"]]\},\{"id":"ac636ae8.539c98","type":"watson-alchemy-face-detection","name":"","x":286.5714340209961,"y":649.1071863174438,"z":"626f6964.9d9098","wires":[["2968deec.d69722"]]\},\{"id":"2968deec.d69722","type":"function","name":"Parse Result","func":"function parseAgeRange(ageRange) \{                                                         \\n    if (ageRange.indexOf('<') !== -1) \{                                                    \\n        return parseInt(ageRange.split('<')[1], 10);                                       \\n    \} else if (ageRange.indexOf('>') !== -1) \{                                             \\n        return parseInt(ageRange.split('>')[1], 10);                                       \\n    \} else \{                                                                               \\n        var min = parseInt(ageRange.split('-')[0], 10),                                    \\n            max = parseInt(ageRange.split('-')[1], 10);                                    \\n        return ((min + max) / 2).toFixed();                                                \\n    \}                                                                                      \\n\}\\n\\nmsg.sense = [];\\nif (context.global.state === 'picture') \{\\n    var age = 0, faces = msg.payload.imageFaces;\\n    if (faces.length !== 0) \{\\n        age = parseAgeRange(faces[0].age.ageRange);\\n    \}\\n\\n    if (age === 0) \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a4\'a3\'a6\'6e\'b7\'4e\'ab\'e4\'a1\'41\'a7\'da\'b2\'71\'a4\'a3\'a5\'58\'a8\'d3\'a1\'49';\\n    \} else \{\\n        msg.sense = ['speech'];\\n        msg.payload.text = '\'a7\'da\'c4\'b1\'b1\'6f\'a7\'41\'ac\'dd\'b0\'5f\'a8\'d3\'b9\'b3'+age+'\'b7\'b3';\\n        /*\\n        msg.payload.text = \{\\n            \\"age\\": age\\n        \};\\n        */\\n    \}\\n    context.global.state = 'start';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":473.714298248291,"y":649.107159614563,"z":"626f6964.9d9098","wires":[["6a1d6b1a.95e294","64dd8ae5.9b2274"]]\},\{"id":"6a1d6b1a.95e294","type":"subflow:dc9d29bf.2362d8","x":685.1429061889648,"y":647.6786155700684,"z":"626f6964.9d9098","wires":[]\},\{"id":"91da0b6a.6e25f8","type":"debug","name":"wake up","active":true,"console":"false","complete":"payload","x":796.035701751709,"y":66.35714530944824,"z":"626f6964.9d9098","wires":[]\},\{"id":"64dd8ae5.9b2274","type":"debug","name":"Parse Pic Result","active":true,"console":"false","complete":"payload","x":587.2857437133789,"y":569.5713748931885,"z":"626f6964.9d9098","wires":[]\},\{"id":"ed16ce5d.12e93","type":"subflow:afe8d1d6.50173","name":"","x":74.66665649414062,"y":447.666654586792,"z":"626f6964.9d9098","wires":[["ff33427e.00ccc","ff5cd1c5.00a33"]]\},\{"id":"ff33427e.00ccc","type":"function","name":"Save Sensor Input","func":"if (context.global.state !== 'sleep') \{\\n    if (msg.payload.temp) \{\\n        context.global.sensor.temp = parseInt(msg.payload.temp, 10);\\n        console.log('Temp: '+context.global.sensor.temp);\\n    \}\\n    if (msg.payload.humid) \{\\n        context.global.sensor.humid = parseInt(msg.payload.humid, 10);\\n        console.log('Humid: '+context.global.sensor.humid);\\n    \}\\n    if (msg.payload.brightness) \{\\n        context.global.sensor.brightness = parseInt(msg.payload.brightness, 10);\\n        console.log('Brightness: '+context.global.sensor.brightness);\\n    \}\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":269.66668701171875,"y":447.6666851043701,"z":"626f6964.9d9098","wires":[[]]\},\{"id":"db239a17.24dc68","type":"function","name":"Report Temp","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'b7\'c5\'ab\'d7\'ac\'4f\'c4\'e1\'a4\'f3'+context.global.sensor.temp+'\'ab\'d7';\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":804.6666259765625,"y":307.6666564941406,"z":"626f6964.9d9098","wires":[["9c20583d.63dfa8"]]\},\{"id":"13f48f1.fec0b71","type":"function","name":"Report Humid","func":"if (context.global.state !== 'sleep') \{\\n    msg.sense = ['speech', 'facebook'];\\n    msg.payload.text = '\'b2\'7b\'a6\'62\'c0\'e3\'ab\'d7\'ac\'4f\'a6\'ca\'a4\'c0\'a4\'a7'+context.global.sensor.humid;\\n\}\\nreturn msg;","outputs":1,"valid":true,"x":804.6666259765625,"y":347.6666564941406,"z":"626f6964.9d9098","wires":[["9c20583d.63dfa8"]]\},\{"id":"ff5cd1c5.00a33","type":"debug","name":"Input Sense","active":true,"console":"false","complete":"payload","x":299.66666666666663,"y":337.66666666666663,"z":"626f6964.9d9098","wires":[]\}]}